/* 浏览器样式重置 */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0}
fieldset,img{border:0}
img{display:block}
address,caption,cite,code,dfn,th,var{font-style: normal;font-weight:normal}
ul,ol{list-style:none}
input{padding-top:0;padding-bottom:0;font-family:"SimSun","宋体"}
input::-moz-focus-inner{border:0;padding:0}
select,input{vertical-align:middle}
select,input,textarea{font-size:12px;margin:0}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none}
textarea{resize:none}
table{border-collapse:collapse}
/* lightbox图片画廊样式 */
#G-lightbox-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50%);/*兼容IE8以下*/
    z-index: 10000;
}
#G-lightbox-popup {
    position: fixed;
    left: 50%;
    top: 50px;
    margin-left: -250px;
    width: 500px;
    /* height: 500px; */
    /* background-color: #368; */
    z-index: 10001;
}
#G-lightbox-popup .lightbox-pic-view {
    position: relative;
    border: 5px solid #fff;
    border-radius: 3px;
    background: url("../icon/loading.gif") no-repeat center center;
    background-color: #fff;
    overflow: hidden;
}
#G-lightbox-popup .lightbox-pic-view .lightbox-btn {
    position: absolute;
    top: 0;
    width: 35%;
    height: 100%;
    z-index: 1;
    /* background-color: #0c0; */
}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn {
    left: 0;
}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn {
    right: 0;
}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show {
    background: url("../icon/prev.png") no-repeat left center;
    cursor: pointer;
}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn-show {
    background: url("../icon/next.png") no-repeat right center;
    cursor: pointer;
}
#G-lightbox-popup .lightbox-pic-caption {
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 5px;
    margin-top: -66px;
}
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area {
    padding: 10px 5px;
    color: #fff;
}
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area .lightbox-of-index {
    color: #999;
}
#G-lightbox-popup .lightbox-pic-caption .lightbox-close-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: url("../icon/close.png") no-repeat center center;
}
